{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "singleQuote": false,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "semi": true,
  "arrowParens": "always",
  "endOfLine": "auto"
}
