.home {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
  color: #fff;
}

@media (max-width: 1024px) {
  .home {
    width: 144rem;
    max-width: calc(100% - 8rem);
    margin: 0 auto;
  }
}
@media (max-width: 1024px) and (max-width: 1024px) {
  .home {
    max-width: calc(100% - 8rem);
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .home {
    max-width: calc(100% - 8rem);
  }
}
.home._cover-header {
  height: auto;
  max-height: unset;
}
.home__hero {
  width: 100%;
}
.home__title {
  margin-bottom: 2.5rem;
}
.home__title span {
  position: relative;
  top: 1.5rem;
}
@media (max-width: 1024px) {
  .home__title span {
    top: 0.7rem;
  }
}
.home__title > .home__star:first-of-type {
  width: 1rem;
}
.home__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__title-wrapper:first-child {
  margin-bottom: 2.5rem;
}
@media (max-width: 1024px) {
  .home__title-wrapper:first-child {
    margin-bottom: 1.5rem;
  }
}
.home__title-wrapper:first-child > .home__star {
  width: 20rem;
  margin-left: 1.8rem;
}
@media (max-width: 1024px) {
  .home__title-wrapper:first-child > .home__star {
    margin-left: 1rem;
    width: 12rem;
  }
}
.home__title-wrapper:nth-child(2) > .home__star {
  width: 15rem;
}
.home__title-wrapper:nth-child(2) > .home__star:first-of-type {
  margin: 0 1.8rem;
}
@media (max-width: 1024px) {
  .home__title-wrapper:nth-child(2) > .home__star:first-of-type {
    margin: 0 1rem;
  }
}
.home__title-wrapper:nth-child(2) > .home__star:nth-of-type(2) {
  margin-left: 1.8rem;
}
@media (max-width: 1024px) {
  .home__title-wrapper:nth-child(2) > .home__star:nth-of-type(2) {
    margin-left: 1rem;
  }
  .home__title-wrapper:nth-child(2) > .home__star {
    width: 9rem;
  }
}
.home__title span {
  display: inline-block;
  //   opacity: 0;
  //   transform: translateY(-5rem);
}
.home__star {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
@media (max-width: 1024px) {
  .home__star {
    height: 7rem;
  }
}
.home__star svg {
  height: 100%;
  width: 100%;
}
.home__subtitle {
  max-width: 76rem;
  margin: 0 auto 4rem auto;
  text-align: center;
  //   opacity: 0;
}
@media (max-width: 1024px) {
  .home__subtitle {
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 2rem;
  }
}
.home__btn {
  all: unset;
  display: block;
  margin: 0 auto;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 11.3rem;
  width: 35rem;
  height: 10rem;
  overflow: hidden;
  mask-image: radial-gradient(#fff, #000);
  border: 1px solid #ffffff;
  cursor: pointer;
  //   opacity: 0;
}
.home__btn._disabled {
  pointer-events: none;
}
.home__btn:hover svg .stop1 {
  stop-color: #ff8413;
}
.home__btn:hover svg .stop2 {
  stop-color: #ffb800;
}
.home__btn:hover svg .stop3 {
  stop-color: #ffd159;
}
.home__btn:hover svg .stop4,
.home__btn:hover svg .stop5 {
  stop-color: #d98303;
}
.home__btn:hover svg .stop6 {
  stop-color: #db8f1c;
}
.home__btn:hover svg .stop7 {
  stop-color: #f5a122;
}
.home__btn:hover svg .stop8 {
  stop-color: #eaab61;
}
.home__btn:hover svg .stop9 {
  stop-color: #fda853;
}
.home__btn:hover svg .stop10 {
  stop-color: #e09514;
}
.home__btn:hover svg .stop11 {
  stop-color: #e59a45;
}
.home__btn:hover svg .stop12 {
  stop-color: #eba900;
}
.home__btn:hover svg .stop13 {
  stop-color: #fffdcf;
}
.home__btn:hover svg .stop14 {
  stop-color: #ee9f45;
}
.home__btn:hover svg .stop15 {
  stop-color: #f4a125;
}
.home__btn:hover svg .stop16 {
  stop-color: #ffc086;
}
.home__btn span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.home__btn svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home__btn svg stop {
  transition: stop-color 0.4s cubic-bezier(0.12, 0, 0.39, 0);
}
