.home {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
  color: #fff;

  &._cover-header {
    height: auto;
    max-height: unset;
  }
}

@media (max-width: 1024px) {
  .home {
    width: 144rem;
    max-width: calc(100% - 8rem);
    margin: 0 auto;
  }
}
@media (max-width: 1024px) and (max-width: 1024px) {
  .home {
    max-width: calc(100% - 8rem);
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .home {
    max-width: calc(100% - 8rem);
  }
}

.home__hero {
  width: 100%;
}
.home__title {
  margin-bottom: 2.5rem;

  span {
    position: relative;
    top: 1.5rem;
  }

  & > .home__star:first-of-type {
    width: 1rem;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      margin-bottom: 2.5rem;

      & > .home__star {
        width: 20rem;
        margin-left: 1.8rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .home__title span {
    top: 0.7rem;

    &:first-child {
      margin-bottom: 1.5rem;

      & > .home__star {
        margin-left: 1rem;
        width: 12rem;
      }
    }
  }
}

.home__title-wrapper:nth-child(2) > .home__star {
  width: 15rem;

  &:first-of-type {
    margin: 0 1.8rem;
  }

  &:nth-of-type(2) {
    margin-left: 1.8rem;
  }
}

@media (max-width: 1024px) {
  .home__title-wrapper:nth-child(2) > .home__star {
    width: 9rem;

    &:first-of-type {
      margin: 0 1rem;
    }

    &:nth-of-type(2) {
      margin-left: 1rem;
    }
  }
}

.home__title span {
  display: inline-block;
  opacity: 0;
  transform: translateY(-5rem);
}

.home__star {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  svg {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .home__star {
    height: 7rem;
  }
}

.home__subtitle {
  max-width: 76rem;
  margin: 0 auto 4rem auto;
  text-align: center;
  opacity: 0;
}

@media (max-width: 1024px) {
  .home__subtitle {
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 2rem;
  }
}

.home__btn {
  all: unset;
  display: block;
  margin: 0 auto;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 11.3rem;
  width: 35rem;
  height: 10rem;
  overflow: hidden;
  mask-image: radial-gradient(#fff, #000);
  border: 1px solid #ffffff;
  cursor: pointer;
  opacity: 0;

  &._disabled {
    pointer-events: none;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
}
