.spread {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
  text-align: start;
  color: #fff;
}
.spread._cover-header {
  height: auto;
  max-height: unset;
}
.spread__title {
  margin-bottom: 2.5rem;
}
@media (max-width: 1024px) {
  .spread__title {
    display: none;
  }
}
.spread__title span {
  position: relative;
  top: 1.5rem;
  display: inline-block;
  //   opacity: 0;
  transform: translateY(-5rem);
}
@media (max-width: 1024px) {
  .spread__title span {
    top: 0.7rem;
  }
}
.spread__title-wrapper {
  display: flex;
  align-items: center;
}
.spread__star {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.8rem;
  padding: 2.5rem;
  width: 100%;
  max-width: 15rem;
  height: 100%;
  max-height: 10rem;
  transform: scale(0);
}
@media (max-width: 1024px) {
  .spread__star {
    width: 9rem;
    height: 5rem;
    margin-left: 1rem;
    padding: unset;
  }
}
.spread__star img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.spread__star svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.spread__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.spread__img {
  width: 57.4rem;
  max-width: 100%;
  aspect-ratio: 690/574;
}
.spread__subtitle {
  max-width: 47rem;
  //   opacity: 0;
}
@media (max-width: 1024px) {
  .spread__subtitle {
    display: none;
  }
}
.spread__btn {
  all: unset;
  border: 1px solid #ffffff;
  margin: 3rem 0 0 0;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 11.3rem;
  width: 30rem;
  height: 8.6rem;
  overflow: hidden;
  mask-image: radial-gradient(#fff, #000);
  //   opacity: 0;
}
.spread__btn._disabled {
  pointer-events: none;
}
@media (max-width: 1024px) {
  .spread__btn {
    position: fixed;
    bottom: 2rem;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .card .spread__btn {
    position: static;
    margin: 3rem 0 6rem 0;
  }
}
.spread__btn:hover svg .stop1 {
  stop-color: #ff8413;
}
.spread__btn:hover svg .stop2 {
  stop-color: #ffb800;
}
.spread__btn:hover svg .stop3 {
  stop-color: #ffd159;
}
.spread__btn:hover svg .stop4,
.spread__btn:hover svg .stop5 {
  stop-color: #d98303;
}
.spread__btn:hover svg .stop6 {
  stop-color: #db8f1c;
}
.spread__btn:hover svg .stop7 {
  stop-color: #f5a122;
}
.spread__btn:hover svg .stop8 {
  stop-color: #eaab61;
}
.spread__btn:hover svg .stop9 {
  stop-color: #fda853;
}
.spread__btn:hover svg .stop10 {
  stop-color: #e09514;
}
.spread__btn:hover svg .stop11 {
  stop-color: #e59a45;
}
.spread__btn:hover svg .stop12 {
  stop-color: #eba900;
}
.spread__btn:hover svg .stop13 {
  stop-color: #fffdcf;
}
.spread__btn:hover svg .stop14 {
  stop-color: #ee9f45;
}
.spread__btn:hover svg .stop15 {
  stop-color: #f4a125;
}
.spread__btn:hover svg .stop16 {
  stop-color: #ffc086;
}
.spread__btn span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.spread__btn .v-touch-ripple > span:first-child {
  z-index: -1;
}
.spread__btn svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000e27;
}
.spread__btn svg stop {
  transition: stop-color 0.4s cubic-bezier(0.12, 0, 0.39, 0);
}
.spread__btn svg + span {
  position: relative;
  z-index: 1;
}
