.header {
  position: absolute;
  z-index: 3;
  width: 100%;

  &._disabled {
    pointer-events: none;
  }
}

.header__wrapper {
  width: 144rem;
  max-width: calc(100% - 8rem);
  margin: 0 auto;
  display: flex;
  padding-top: 3.5rem;
}

@media (max-width: 1024px) {
  .header__wrapper {
    max-width: calc(100% - 8rem);
  }
}

@media (max-width: 767px) {
  .header__wrapper {
    max-width: calc(100% - 8rem);
  }
}

.header__logo {
  width: 11rem;
  height: 7rem;

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}
